.door-system-img {
  min-width: 150px;
  min-height: 107px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 1em;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.link-active-teal {
  border-color: #00b5ad !important;
}

.link-active-olive {
  border-color: #b5cc18 !important;
}

.link-active-orange--bold {
  border: 2px solid #f26202 !important;
}

.display-block {
  display: block !important;
}

.img-centered {
  margin: auto !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tiny-tile {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
}

.padding-thin {
  padding: 0.5em 0.5em 0.5em 0.5em !important;
}

small {
  word-wrap: break-word;
  text-align: center;
}
