<div class="ui styled fluid accordion">
  <div class="title" (click)="handleSidebarPane('door_system')" [ngClass]="{'active': (openedTab['door_system'])}">
    <i class="dropdown icon"></i>
    <div class="ui yellow horizontal label">Step 1</div> Door System
  </div>
  <div class="content" [ngClass]="{'active': (openedTab['door_system'])}">
    <div class="ui top attached tabular menu">
      <a class="item" [ngClass]="{'active': !isEuroLine}" (click)="handleDoorLine($event, 'infinity_line')">
        Infinity Line
      </a>
      <a class="item" [ngClass]="{'active': isEuroLine}" (click)="handleDoorLine($event, 'euro_line')">
        Euro Line
      </a>
    </div>
    <div class="ui bottom attached segment" *ngIf="!isEuroLine">
      <span class="mb-1" *ngFor="let system of doorSystems['infinity_line']">
        <div class="ui attached segment link-active-teal mb-1" [ngClass]="{'link-active-teal': (selectedOnTab['door_system']['infinity_line'] === system['name'])}">
          <a href="#" (click)="handlePaneDoorSystem($event, 'infinity_line', system['name'])">
            <div class="ui small images">
              <img class="door-system-img" src="assets/images/door_categories/{{ system['filenames'][0] }}">
              <img class="door-system-img" src="assets/images/door_categories/{{ system['filenames'][1] }}">
            </div>
            <div class="ui divider mt-0"></div>
            <h5 class="ui header center aligned mt-0">{{ system['name'] }}</h5>
          </a>
        </div>
      </span>
    </div>
    <div class="ui bottom attached segment" *ngIf="isEuroLine">
      <span class="mb-1" *ngFor="let system of doorSystems['euro_line']">
        <div class="ui attached segment link-active-teal mb-1" [ngClass]="{'link-active-teal': (selectedOnTab['door_system']['euro_line'] === system['name'])}">
          <a href="#" (click)="handlePaneDoorSystem($event, 'euro_line', system['name'])">
            <div class="ui small images">
              <img class="door-system-img" src="assets/images/door_categories/{{ system['filenames'][0] }}">
              <img class="door-system-img" src="assets/images/door_categories/{{ system['filenames'][1] }}">
            </div>
            <div class="ui divider mt-0"></div>
            <h5 class="ui header center aligned mt-0">{{ system['name'] }}</h5>
          </a>
        </div>
      </span>
    </div>
    <button class="ui fluid orange button" (click)="handleNextStep('door_system', 'opening_size')">
      Proceed
      <i class="icon angle double right"></i>
    </button>
  </div>
  <div class="title" (click)="handleSidebarPane('opening_size')" [ngClass]="{'active': (openedTab['opening_size'])}">
    <i class="dropdown icon"></i>
    <div class="ui yellow horizontal label">Step 2</div> Opening Size
  </div>
  <div class="content" [ngClass]="{'active': (openedTab['opening_size'])}">
    <form class="ui form">
      <div class="ui info tiny message">
        A door panel cannot be wider than 42” and higher than {{ [getMaxPanelSize()] }}”.
      </div>
      <div class="field">
        <div class="two fields">
          <div class="field">
            <div class="ui right labeled input">
              <input type="number" name="shipping[first-name]" min="42" max="{{ [getMaxPanelSize()] }}" placeholder="Width">
              <div class="ui basic label">
                inches
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui right labeled input">
              <input type="number" name="shipping[first-name]" min="42" max="{{ [getMaxPanelSize()] }}" placeholder="Height">
              <div class="ui basic label">
                inches
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div clas="ui divider hidden"></div>
    <button class="ui fluid orange button" (click)="handleNextStep('opening_size', 'number_doors')">
      Proceed
      <i class="icon angle double right"></i>
    </button>
  </div>
  <div class="title" (click)="handleSidebarPane('number_doors')" [ngClass]="{'active': (openedTab['number_doors'])}">
    <i class="dropdown icon"></i>
    <div class="ui yellow horizontal label">Step 3</div> Number of Doors
  </div>
  <div class="content" [ngClass]="{'active': (openedTab['number_doors'])}">
    <div class="ui selection dropdown fluid" [ngClass]="{'active visible': isNumDoorsClicked}" (click)="handleNumDoorsDropdown()">
      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div class="text" [ngClass]="{'default': (numDoor === 'Select number of doors')}">{{ numDoor }}</div>
      <div class="menu" [ngClass]="{'transition visible display-block': isNumDoorsClicked}">
         <div class="item" value="2" (click)="handleNumDoorsOption($event)" *ngFor="let num of maxNumDoors; let i = index;">{{ i+2 }}</div>
      </div>
      
    </div>
    <br/>
    <button class="ui fluid orange button" (click)="handleNextStep('number_doors', 'door_design')">
      Proceed
      <i class="icon angle double right"></i>
    </button>
  </div>
  <div class="title" (click)="handleSidebarPane('door_design')" [ngClass]="{'active': (openedTab['door_design'])}">
    <i class="dropdown icon"></i>
    <div class="ui yellow horizontal label">Step 4</div> Door Design
  </div>
  <div class="content" [ngClass]="{'active': (openedTab['door_design'])}">
    <div class="ui horizontal segments" *ngIf="isEuroLine">
      <div class="ui segment" *ngFor="let design of doorDesigns['euro_line']" [ngClass]="{'link-active-teal': (doorDesign === design['name'])}">
        <a href="#" (click)="handleDoorDesign($event, design['name'])">
          <img class="ui tiny centered image" src="assets/images/door_design/{{ design['filename'] }}">
          <div class="ui divider"></div>
          <button class="ui teal mini fluid button" [ngClass]="{'basic': (doorDesign !== design['name'])}" (click)="handleDoorDesign($event, design['name'])">{{ design['name'] }}</button>
        </a>
      </div>
    </div>
    <div class="ui horizontal segments" *ngIf="!isEuroLine">
      <div class="ui segment" *ngFor="let design of doorDesigns['infinity_line'].slice(0,3)" [ngClass]="{'link-active-teal': (doorDesign === design['name'])}">
        <a href="#" (click)="handleDoorDesign($event, design['name'])">
          <img class="ui tiny centered image" src="assets/images/door_design/{{ design['filename'] }}">
          <div class="ui divider"></div>
          <button class="ui teal mini fluid button" [ngClass]="{'basic': (doorDesign !== design['name'])}" (click)="handleDoorDesign($event, design['name'])">{{ design['name'] }}</button>
        </a>
      </div>
    </div>
    <div class="ui horizontal segments" *ngIf="!isEuroLine">
      <div class="ui segment" *ngFor="let design of doorDesigns['infinity_line'].slice(3)" [ngClass]="{'link-active-teal': (doorDesign === design['name'])}">
        <a href="#" (click)="handleDoorDesign($event, design['name'])">
          <img class="ui tiny centered image" src="assets/images/door_design/{{ design['filename'] }}">
          <div class="ui divider"></div>
          <button class="ui teal mini fluid button" [ngClass]="{'basic': (doorDesign !== design['name'])}" (click)="handleDoorDesign($event, design['name'])">{{ design['name'] }}</button>
        </a>
      </div>
    </div>
    <div clas="ui divider hidden"></div>
    <button class="ui fluid orange button" (click)="handleNextStep('door_design', 'door_frame')">
      Proceed
      <i class="icon angle double right"></i>
    </button>
  </div>
  <div class="title" (click)="handleSidebarPane('door_frame')" [ngClass]="{'active': (openedTab['door_frame'])}">
    <i class="dropdown icon"></i>
    <div class="ui yellow horizontal label">Step 5</div> Door Frame and Track Colour
  </div>
  <div class="content" [ngClass]="{'active': (openedTab['door_frame'])}">
    <div class="ui horizontal segments" [ngClass]="{'link-active-olive': (doorFrame === 'U-Edge')}">
      <div class="ui segment" *ngFor="let frame of doorFrames" [ngClass]="{'link-active-olive': (doorFrame === frame['name'])}">
        <a href="#" (click)="handleDoorFrame($event, frame['name'])">
          <img class="ui small centered image" src="assets/images/door_frame_and_track_colors/{{ frame['filename'] }}">
          <div class="ui divider"></div>
          <button class="ui olive mini fluid button" [ngClass]="{'basic': (doorFrame !== frame['name'])}" (click)="handleDoorFrame($event, frame['name'])">{{ frame['name'] }}</button>
        </a>       
      </div>
      
      <!-- <div class="ui segment" [ngClass]="{'link-active-olive': (doorFrame === 'U-Edge')}">
        <a href="#" (click)="handleDoorFrame($event, 'T-Edge')">
          <img class="ui small centered image" src="assets/images/door_frame_and_track_colors/T_Edge.jpg">
        </a>
      </div>
      <div class="ui segment" [ngClass]="{'link-active-olive': (doorFrame === 'T-Edge')}">
        <a href="#" (click)="handleDoorFrame($event, 'U-Edge')">
          <img class="ui small centered image" src="assets/images/door_frame_and_track_colors/U_Edge.jpg">
          <div class="ui divider"></div>
          <button class="ui olive mini fluid button" [ngClass]="{'basic': (doorFrame === 'T-Edge')}" (click)="handleDoorFrame($event, 'U-Edge')">U-Edge</button>
        </a>
      </div> -->
    </div>
    <div clas="ui divider hidden"></div>
    <button class="ui fluid orange button" (click)="handleNextStep('door_frame', 'door_inserts')">
      Proceed
      <i class="icon angle double right"></i>
    </button>
  </div>
  <div class="title" (click)="handleSidebarPane('door_inserts')" [ngClass]="{'active': (openedTab['door_inserts'])}">
    <i class="dropdown icon"></i>
    <div class="ui yellow horizontal label">Step 6</div> Door Inserts
  </div>
  <div class="content" [ngClass]="{'active': (openedTab['door_inserts'])}">
    <div class="ui top attached tabular menu">
      <a class="item" [ngClass]="{'active': isHighGloss}" (click)="handleDoorInserts($event)">
        High Gloss
      </a>
      <a class="item" [ngClass]="{'active': !isHighGloss}" (click)="handleDoorInserts($event)">
        Wood Grain
      </a>
    </div>
    <div class="ui bottom attached center aligned segment" *ngIf="!isHighGloss">
      <div class="ui horizontal segments">
        <div class="ui segment compact padding-thin" *ngFor="let grain of doorInserts['wood_grain'].slice(0, 4)">
          <a href="#" (click)="handlePaneDoorInserts($event, 'wood_grain', grain['name'])">
            <img class="ui image centered bordered tiny-tile" [ngClass]="{'link-active-orange--bold': (selectedOnTab['door_inserts'] === grain['name'])}" src="assets/images/store_colour_selector/wood_backgrounds/{{ grain['filename'] }}" >
            <small><strong>{{ grain['name'] }}</strong></small>
          </a>
        </div>
      </div>
      <div class="ui horizontal segments">
        <div class="ui segment compact padding-thin" *ngFor="let grain of doorInserts['wood_grain'].slice(4, 8)">
          <a href="#" (click)="handlePaneDoorInserts($event, 'wood_grain', grain['name'])">
            <img class="ui image centered bordered tiny-tile" [ngClass]="{'link-active-orange--bold': (selectedOnTab['door_inserts'] === grain['name'])}" src="assets/images/store_colour_selector/wood_backgrounds/{{ grain['filename'] }}" >
            <small><strong>{{ grain['name'] }}</strong></small>
          </a>
        </div>
      </div>
    </div>
    <div class="ui bottom attached center aligned segment" *ngIf="isHighGloss">
      <div class="ui horizontal segments">
        <div class="ui segment compact padding-thin" *ngFor="let grain of doorInserts['high_gloss'].slice(0, 4)">
          <a href="#" (click)="handlePaneDoorInserts($event, 'high_gloss', grain['name'])">
            <img class="ui image centered bordered tiny-tile" [ngClass]="{'link-active-orange--bold': (selectedOnTab['door_inserts'] === grain['name'])}" src="assets/images/store_colour_selector/wood_backgrounds/{{ grain['filename'] }}">
            <small><strong>{{ grain['name'] }}</strong></small>
          </a>
        </div>
      </div>
      <div class="ui horizontal segments">
        <div class="ui segment compact" *ngFor="let grain of doorInserts['high_gloss'].slice(4, 8)">
          <a href="#" (click)="handlePaneDoorInserts($event, 'high_gloss', grain['name'])">
            <img class="ui image tiny-tile" [ngClass]="{'link-active-orange--bold': (selectedOnTab['door_inserts'] === grain['name'])}" src="assets/images/store_colour_selector/wood_backgrounds/{{ grain['filename'] }}">
            <small><strong>{{ grain['name'] }}</strong></small>
          </a>
        </div>
      </div>
    </div>
    <div clas="ui divider hidden"></div>
    <button class="ui fluid orange button" (click)="handleNextStep('door_inserts', 'price_inquiry')">
      Proceed
      <i class="icon angle double right"></i>
    </button>
  </div>
  <div class="title" (click)="handleSidebarPane('price_inquiry')" [ngClass]="{'active': (openedTab['price_inquiry'])}">
    <i class="dropdown icon"></i>
    <div class="ui yellow horizontal label">Step 7</div> Price Inquiry
  </div>
  <div class="content" [ngClass]="{'active': (openedTab['price_inquiry'])}">
    <div class="ui info tiny message">
      Enter your e-mail address to get a price quotation for your customized door.
    </div>
    <div class="ui action fluid left icon small input">
      <input type="text" placeholder="matthew@sterlingpieces.com">
      <button class="ui green button">Inquire price</button>
      <i class="envelope outline icon"></i>
    </div>
  </div>
</div>
